.footer{
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: cornsilk;
    display: flex;
}
.title{
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
    padding: 10px;
}